@font-face {
  font-family: "Rubik";
  src: url("https://use.typekit.net/ymw8ood.css");
}

.rubik {
  font-family: "Rubik", sans-serif;
}

.colorButtons {
  display: block;
  margin: 5px 0px;
}

canvas {
  cursor: crosshair;
}

div#sidebar {
  position: absolute;
  left: 25px;
  width: 200px;
  padding: 20px 20px;
  top: 120px;
}

canvas#canvas {
  left: 230px;
  top: 150px;
}

.btn {
  margin-bottom: 10px;
  width: 100%;
}
input {
  width: 100%;
  margin-bottom: 10px;
}

.input-group {
  margin-bottom: 10px;
}

.toolsButtons .btn {
  width: 48%;
}

.sizeButtons .btn {
  width: 48%;
}

.colorpicker {
  background: transparent;
  height: 40px;
}
